<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccclubs.tp.mapper.CsProjectInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ccclubs.tp.model.CsProjectInfo" >
    <id column="cspi_id" property="cspiId" jdbcType="BIGINT" />
    <result column="cspi_code" property="cspiCode" jdbcType="VARCHAR" />
    <result column="cspi_name" property="cspiName" jdbcType="VARCHAR" />
    <result column="cspi_unit_info" property="cspiUnitInfo" jdbcType="BIGINT" />
    <result column="cspi_member" property="cspiMember" jdbcType="BIGINT" />
    <result column="cspi_aduit_member" property="cspiAduitMember" jdbcType="BIGINT" />
    <result column="cspi_limit" property="cspiLimit" jdbcType="DOUBLE" />
    <result column="cspi_quota" property="cspiQuota" jdbcType="DOUBLE" />
    <result column="cspi_person_num" property="cspiPersonNum" jdbcType="INTEGER" />
    <result column="cspi_begintime" property="cspiBegintime" jdbcType="TIMESTAMP" />
    <result column="cspi_endtime" property="cspiEndtime" jdbcType="TIMESTAMP" />
    <result column="cspi_autoprove" property="cspiAutoprove" jdbcType="SMALLINT" />
    <result column="cspi_enable" property="cspiEnable" jdbcType="SMALLINT" />
    <result column="cspi_add_time" property="cspiAddTime" jdbcType="TIMESTAMP" />
    <result column="cspi_add_user" property="cspiAddUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cspi_id, cspi_code, cspi_name, cspi_unit_info, cspi_member, cspi_aduit_member, cspi_limit, 
    cspi_quota, cspi_person_num, cspi_begintime, cspi_endtime, cspi_autoprove, cspi_enable, 
    cspi_add_time, cspi_add_user
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ccclubs.tp.model.CsProjectInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cs_project_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cs_project_info
    where cspi_id = #{cspiId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cs_project_info
    where cspi_id = #{cspiId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ccclubs.tp.model.CsProjectInfoExample" >
    delete from cs_project_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ccclubs.tp.model.CsProjectInfo" >
    insert into cs_project_info (cspi_id, cspi_code, cspi_name, 
      cspi_unit_info, cspi_member, cspi_aduit_member, 
      cspi_limit, cspi_quota, cspi_person_num, 
      cspi_begintime, cspi_endtime, cspi_autoprove, 
      cspi_enable, cspi_add_time, cspi_add_user
      )
    values (#{cspiId,jdbcType=BIGINT}, #{cspiCode,jdbcType=VARCHAR}, #{cspiName,jdbcType=VARCHAR}, 
      #{cspiUnitInfo,jdbcType=BIGINT}, #{cspiMember,jdbcType=BIGINT}, #{cspiAduitMember,jdbcType=BIGINT}, 
      #{cspiLimit,jdbcType=DOUBLE}, #{cspiQuota,jdbcType=DOUBLE}, #{cspiPersonNum,jdbcType=INTEGER}, 
      #{cspiBegintime,jdbcType=TIMESTAMP}, #{cspiEndtime,jdbcType=TIMESTAMP}, #{cspiAutoprove,jdbcType=SMALLINT}, 
      #{cspiEnable,jdbcType=SMALLINT}, #{cspiAddTime,jdbcType=TIMESTAMP}, #{cspiAddUser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ccclubs.tp.model.CsProjectInfo" >
    insert into cs_project_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cspiId != null" >
        cspi_id,
      </if>
      <if test="cspiCode != null" >
        cspi_code,
      </if>
      <if test="cspiName != null" >
        cspi_name,
      </if>
      <if test="cspiUnitInfo != null" >
        cspi_unit_info,
      </if>
      <if test="cspiMember != null" >
        cspi_member,
      </if>
      <if test="cspiAduitMember != null" >
        cspi_aduit_member,
      </if>
      <if test="cspiLimit != null" >
        cspi_limit,
      </if>
      <if test="cspiQuota != null" >
        cspi_quota,
      </if>
      <if test="cspiPersonNum != null" >
        cspi_person_num,
      </if>
      <if test="cspiBegintime != null" >
        cspi_begintime,
      </if>
      <if test="cspiEndtime != null" >
        cspi_endtime,
      </if>
      <if test="cspiAutoprove != null" >
        cspi_autoprove,
      </if>
      <if test="cspiEnable != null" >
        cspi_enable,
      </if>
      <if test="cspiAddTime != null" >
        cspi_add_time,
      </if>
      <if test="cspiAddUser != null" >
        cspi_add_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cspiId != null" >
        #{cspiId,jdbcType=BIGINT},
      </if>
      <if test="cspiCode != null" >
        #{cspiCode,jdbcType=VARCHAR},
      </if>
      <if test="cspiName != null" >
        #{cspiName,jdbcType=VARCHAR},
      </if>
      <if test="cspiUnitInfo != null" >
        #{cspiUnitInfo,jdbcType=BIGINT},
      </if>
      <if test="cspiMember != null" >
        #{cspiMember,jdbcType=BIGINT},
      </if>
      <if test="cspiAduitMember != null" >
        #{cspiAduitMember,jdbcType=BIGINT},
      </if>
      <if test="cspiLimit != null" >
        #{cspiLimit,jdbcType=DOUBLE},
      </if>
      <if test="cspiQuota != null" >
        #{cspiQuota,jdbcType=DOUBLE},
      </if>
      <if test="cspiPersonNum != null" >
        #{cspiPersonNum,jdbcType=INTEGER},
      </if>
      <if test="cspiBegintime != null" >
        #{cspiBegintime,jdbcType=TIMESTAMP},
      </if>
      <if test="cspiEndtime != null" >
        #{cspiEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="cspiAutoprove != null" >
        #{cspiAutoprove,jdbcType=SMALLINT},
      </if>
      <if test="cspiEnable != null" >
        #{cspiEnable,jdbcType=SMALLINT},
      </if>
      <if test="cspiAddTime != null" >
        #{cspiAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cspiAddUser != null" >
        #{cspiAddUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ccclubs.tp.model.CsProjectInfoExample" resultType="java.lang.Integer" >
    select count(*) from cs_project_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cs_project_info
    <set >
      <if test="record.cspiId != null" >
        cspi_id = #{record.cspiId,jdbcType=BIGINT},
      </if>
      <if test="record.cspiCode != null" >
        cspi_code = #{record.cspiCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cspiName != null" >
        cspi_name = #{record.cspiName,jdbcType=VARCHAR},
      </if>
      <if test="record.cspiUnitInfo != null" >
        cspi_unit_info = #{record.cspiUnitInfo,jdbcType=BIGINT},
      </if>
      <if test="record.cspiMember != null" >
        cspi_member = #{record.cspiMember,jdbcType=BIGINT},
      </if>
      <if test="record.cspiAduitMember != null" >
        cspi_aduit_member = #{record.cspiAduitMember,jdbcType=BIGINT},
      </if>
      <if test="record.cspiLimit != null" >
        cspi_limit = #{record.cspiLimit,jdbcType=DOUBLE},
      </if>
      <if test="record.cspiQuota != null" >
        cspi_quota = #{record.cspiQuota,jdbcType=DOUBLE},
      </if>
      <if test="record.cspiPersonNum != null" >
        cspi_person_num = #{record.cspiPersonNum,jdbcType=INTEGER},
      </if>
      <if test="record.cspiBegintime != null" >
        cspi_begintime = #{record.cspiBegintime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cspiEndtime != null" >
        cspi_endtime = #{record.cspiEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cspiAutoprove != null" >
        cspi_autoprove = #{record.cspiAutoprove,jdbcType=SMALLINT},
      </if>
      <if test="record.cspiEnable != null" >
        cspi_enable = #{record.cspiEnable,jdbcType=SMALLINT},
      </if>
      <if test="record.cspiAddTime != null" >
        cspi_add_time = #{record.cspiAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cspiAddUser != null" >
        cspi_add_user = #{record.cspiAddUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cs_project_info
    set cspi_id = #{record.cspiId,jdbcType=BIGINT},
      cspi_code = #{record.cspiCode,jdbcType=VARCHAR},
      cspi_name = #{record.cspiName,jdbcType=VARCHAR},
      cspi_unit_info = #{record.cspiUnitInfo,jdbcType=BIGINT},
      cspi_member = #{record.cspiMember,jdbcType=BIGINT},
      cspi_aduit_member = #{record.cspiAduitMember,jdbcType=BIGINT},
      cspi_limit = #{record.cspiLimit,jdbcType=DOUBLE},
      cspi_quota = #{record.cspiQuota,jdbcType=DOUBLE},
      cspi_person_num = #{record.cspiPersonNum,jdbcType=INTEGER},
      cspi_begintime = #{record.cspiBegintime,jdbcType=TIMESTAMP},
      cspi_endtime = #{record.cspiEndtime,jdbcType=TIMESTAMP},
      cspi_autoprove = #{record.cspiAutoprove,jdbcType=SMALLINT},
      cspi_enable = #{record.cspiEnable,jdbcType=SMALLINT},
      cspi_add_time = #{record.cspiAddTime,jdbcType=TIMESTAMP},
      cspi_add_user = #{record.cspiAddUser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ccclubs.tp.model.CsProjectInfo" >
    update cs_project_info
    <set >
      <if test="cspiCode != null" >
        cspi_code = #{cspiCode,jdbcType=VARCHAR},
      </if>
      <if test="cspiName != null" >
        cspi_name = #{cspiName,jdbcType=VARCHAR},
      </if>
      <if test="cspiUnitInfo != null" >
        cspi_unit_info = #{cspiUnitInfo,jdbcType=BIGINT},
      </if>
      <if test="cspiMember != null" >
        cspi_member = #{cspiMember,jdbcType=BIGINT},
      </if>
      <if test="cspiAduitMember != null" >
        cspi_aduit_member = #{cspiAduitMember,jdbcType=BIGINT},
      </if>
      <if test="cspiLimit != null" >
        cspi_limit = #{cspiLimit,jdbcType=DOUBLE},
      </if>
      <if test="cspiQuota != null" >
        cspi_quota = #{cspiQuota,jdbcType=DOUBLE},
      </if>
      <if test="cspiPersonNum != null" >
        cspi_person_num = #{cspiPersonNum,jdbcType=INTEGER},
      </if>
      <if test="cspiBegintime != null" >
        cspi_begintime = #{cspiBegintime,jdbcType=TIMESTAMP},
      </if>
      <if test="cspiEndtime != null" >
        cspi_endtime = #{cspiEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="cspiAutoprove != null" >
        cspi_autoprove = #{cspiAutoprove,jdbcType=SMALLINT},
      </if>
      <if test="cspiEnable != null" >
        cspi_enable = #{cspiEnable,jdbcType=SMALLINT},
      </if>
      <if test="cspiAddTime != null" >
        cspi_add_time = #{cspiAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cspiAddUser != null" >
        cspi_add_user = #{cspiAddUser,jdbcType=VARCHAR},
      </if>
    </set>
    where cspi_id = #{cspiId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ccclubs.tp.model.CsProjectInfo" >
    update cs_project_info
    set cspi_code = #{cspiCode,jdbcType=VARCHAR},
      cspi_name = #{cspiName,jdbcType=VARCHAR},
      cspi_unit_info = #{cspiUnitInfo,jdbcType=BIGINT},
      cspi_member = #{cspiMember,jdbcType=BIGINT},
      cspi_aduit_member = #{cspiAduitMember,jdbcType=BIGINT},
      cspi_limit = #{cspiLimit,jdbcType=DOUBLE},
      cspi_quota = #{cspiQuota,jdbcType=DOUBLE},
      cspi_person_num = #{cspiPersonNum,jdbcType=INTEGER},
      cspi_begintime = #{cspiBegintime,jdbcType=TIMESTAMP},
      cspi_endtime = #{cspiEndtime,jdbcType=TIMESTAMP},
      cspi_autoprove = #{cspiAutoprove,jdbcType=SMALLINT},
      cspi_enable = #{cspiEnable,jdbcType=SMALLINT},
      cspi_add_time = #{cspiAddTime,jdbcType=TIMESTAMP},
      cspi_add_user = #{cspiAddUser,jdbcType=VARCHAR}
    where cspi_id = #{cspiId,jdbcType=BIGINT}
  </update>
</mapper>